<html xmln:th="https://thymeleaf.org" xmlns:xmln="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="layout :: site-head">
    <title>Spring MVC Technical Blog</title>
</head>
<header th:replace="layout :: logged-out"></header>
<h1>Login to your Account!!</h1>
<hr size="7" color="white"/>
<form action="/users/login">

    <div>
        <label for="username">Username:</label> <br>
        <input id="username" type="text" name="username" size="70" />
    </div>

    <div>
        <label for="password">Password</label> <br>
        <input id="password" type="password" size="70" name="password" />
    </div>

    <div>
        <input type="submit" value="Login">
    </div>

</form>
</html>
