<html xmln:th="http://thymeleaf.org" xmlns:xmln="http://www.w3.org/1999/xhtml">
<head th:fragment="site-head">
    <meta charset="UTF-8">
    <title>Spring MVC</title>
    <link rel="stylesheet" href="../public/css/styles.css"
    th:href="@{/css/styles.css}"/>

</head>
<body>
<header th:fragment="logged-out" th:remove="tag">
    <header>
        <a href="/users/login" th:ref="@{users/login.html}">Login</a>
        <a href="/users/register" th:ref="@{users/register.html}">Register</a>
    </header>
</header>

<header th:fragment="logged-in" th:remove="tag">
    <header>
        <a href="posts.html" th:href="@{posts}">Posts</a>
        <a href="/posts/create" th:ref="@{posts/create.html}">Create Post</a>
        <a href="/users/register" th:ref="@{users/register.html}">Register</a>
    </header>
</header>

</body>
</html>
